doctype html
html 
  head 
    title HomePage | Integrating With HubSpot I Practicum.
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body  
    h1 Video Game Characters

    table
      thead
        tr
          th Name
          th Video Game
          th Age
      tbody
        each character in data
          tr
            td= character.properties.name
            td= character.properties.video_game
            td= character.properties.age
      

      a(href="/update-cobj") Add/Update this table

